In [1]:
import pandas as pd

In [2]:

# Dictionary mapping state abbreviations to full names
us_states = {
    "Alabama": "AL", "Alaska": "AK", "Arizona": "AZ", "Arkansas": "AR",
    "California": "CA", "Colorado": "CO", "Connecticut": "CT", "Delaware": "DE",
    "Florida": "FL", "Georgia": "GA", "Hawaii": "HI", "Idaho": "ID",
    "Illinois": "IL", "Indiana": "IN", "Iowa": "IA", "Kansas": "KS",
    "Kentucky": "KY", "Louisiana": "LA", "Maine": "ME", "Maryland": "MD",
    "Massachusetts": "MA", "Michigan": "MI", "Minnesota": "MN", "Mississippi": "MS",
    "Missouri": "MO", "Montana": "MT", "Nebraska": "NE", "Nevada": "NV",
    "New Hampshire": "NH", "New Jersey": "NJ", "New Mexico": "NM", "New York": "NY",
    "North Carolina": "NC", "North Dakota": "ND", "Ohio": "OH", "Oklahoma": "OK",
    "Oregon": "OR", "Pennsylvania": "PA", "Rhode Island": "RI", "South Carolina": "SC",
    "South Dakota": "SD", "Tennessee": "TN", "Texas": "TX", "Utah": "UT",
    "Vermont": "VT", "Virginia": "VA", "Washington": "WA", "West Virginia": "WV",
    "Wisconsin": "WI", "Wyoming": "WY"
}

# Inverting the dictionary to map abbreviations back to full state names
Abbrev_to_Name = {v: k for k, v in us_states.items()}

# Example DataFrame
df = pd.DataFrame({'Location': ['CA', 'TX', 'NY', 'FL', 'WA']})
df

  Location
0       CA
1       TX
2       NY
3       FL
4       WA

In [3]:

# Replace abbreviations with full state names
df['Location'] = df['Location'].map(Abbrev_to_Name).fillna(df['Location'])
df

     Location
0  California
1       Texas
2    New York
3     Florida
4  Washington