# Project     : dsfpt10-p1-dsc-phase-1-project
## date        : 09-02-2025
## author      : Brian Waweru

In [1]:
import pandas as pd
import numpy as numpy

print('import successful!')

import successful!

### Loading the data

In [2]:
# File path
file_path = 'data/AviationData.csv'

# Read the CSV with ISO-8859-1 encoding
df = pd.read_csv(file_path, encoding='ISO-8859-1')

# display the first 3 entries
df.head(3)

c:\Users\rurig\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007

In [11]:
# (6,7,28)

col_check = df.iloc[:, [6, 7, 28]]
col_check.head()#info()

  Latitude Longitude Broad.phase.of.flight
0      NaN       NaN                Cruise
1      NaN       NaN               Unknown
2  36.9222  -81.8781                Cruise
3      NaN       NaN                Cruise
4      NaN       NaN              Approach

In [8]:
print(len(df.columns))
print()

df.columns

31

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [30]:
df.shape

(88889, 31)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [35]:
df['Event.Id'].count() # 88889

df['Event.Id'].nunique()

print(88889 - 87951)

938

In [49]:
# df[df.duplicated()]
df[df.duplicated(subset=['Event.Id'])]#['Event.Id'].count()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
118,20020917X01908,Accident,DCA82AA012A,1982-01-19,"ROCKPORT, TX",United States,NaN,NaN,RKP,ARANSAS COUNTY AIRPORT,...,Executive/corporate,NaN,3.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,19-01-1983
159,20020917X02400,Accident,MIA82FA038A,1982-01-23,"NEWPORT RICHEY, FL",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,3.0,VMC,Approach,Probable Cause,23-01-1983
160,20020917X02259,Accident,LAX82FA049B,1982-01-23,"VICTORVILLE, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,4.0,0.0,VMC,Cruise,Probable Cause,23-01-1983
245,20020917X02585,Accident,SEA82DA028B,1982-02-06,"MEDFORD, OR",United States,NaN,NaN,MFR,MEDFORD-JACKSON COUNTY,...,Personal,NaN,0.0,0.0,0.0,3.0,VMC,Taxi,Probable Cause,06-02-1983
248,20020917X02173,Accident,LAX82DA065A,1982-02-06,"SAN JOSE, CA",United States,NaN,NaN,RHV,RIED HILLVIEW,...,Personal,NaN,0.0,0.0,0.0,3.0,VMC,Taxi,Probable Cause,06-02-1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88593,20220929106019,Accident,DCA22WA214,2022-09-28,"London,",Great Britain,512820N,0002717E,EGLL,London Heathrow Airport,...,NaN,NaN,0.0,0.0,0.0,2.0,NaN,NaN,NaN,NaN
88777,20221112106276,Accident,CEN23MA034,2022-11-12,"Dallas, TX",United States,324026N,0965146W,RBD,Dallas Executive,...,ASHO,Commemorative Air Force,6.0,0.0,0.0,0.0,VMC,NaN,NaN,30-11-2022
88796,20221121106336,Accident,WPR23LA041,2022-11-18,"Las Vegas, NV",United States,361239N,1151140W,VGT,NORTH LAS VEGAS,...,Instructional,702 HELICOPTER INC,0.0,0.0,0.0,3.0,VMC,NaN,NaN,07-12-2022
88798,20221122106340,Incident,DCA23WA071,2022-11-18,"Marrakech,",Morocco,NaN,NaN,NaN,NaN,...,NaN,Valair Private Jets,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88814,20221123106354,Accident,WPR23LA045,2022-11-22,"San Diego, CA",United States,323414N,1165825W,SDM,Brown Field Municipal Airport,...,Public Aircraft - Federal,U.S. Navy,0.0,0.0,0.0,4.0,VMC,NaN,NaN,22-12-2022

In [72]:
df.loc[df.duplicated(subset='Event.Id'
                    #  ,keep=False
                     )
                     ]['Event.Id']#.count()# == True]['Event.Id']#.nunique()

118      20020917X01908
159      20020917X02400
160      20020917X02259
245      20020917X02585
248      20020917X02173
              ...
88593    20220929106019
88777    20221112106276
88796    20221121106336
88798    20221122106340
88814    20221123106354
Name: Event.Id, Length: 938, dtype: object

In [94]:
data = df.loc[df['Event.Id'] == '20221121106336']#.duplicated()
data.duplicated()#subset='Location')

cols = data.columns.tolist()
for item in cols:
    print(data.duplicated(subset=item))
    print()

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796    False
dtype: bool

88795    False
88796    False
dtype: bool

88795    False
88796    False
dtype: bool

88795    False
88796    False
dtype: bool

88795    False
88796    False
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796    False
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

88795    False
88796     True
dtype: bool

In [ ]:
df = df.drop_duplicates(subset=['Event.Id'])

In [21]:
df['Investigation.Type'].unique()

array(['Accident', 'Incident'], dtype=object)

In [25]:
df['Investigation.Type'].value_counts().to_frame()#|.sum()

          Investigation.Type
Accident               85015
Incident                3874