In [251]:
import numpy as np
import pandas as pd
import seaborn as sns

In [252]:
file_path = r'data/AviationData.csv'

df = pd.read_csv(file_path, encoding='ISO-8859-1')

c:\Users\rurig\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## 0. Shape

In [253]:
# Get the shape of the dataframe
# Number of rows and columns
df.shape # (88889, 31)

(88889, 31)

## 1. Basic Data Information

In [254]:
# Check the first few rows
df.head(3)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007

In [255]:
# Check the last few rows
# df.tail(3)

In [256]:
# Get data types of each column
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [257]:
# Get the number of columns
len(df.columns)

31

In [258]:
# Get data types of each column
df.dtypes

Event.Id                   object
Investigation.Type         object
Accident.Number            object
Event.Date                 object
Location                   object
Country                    object
Latitude                   object
Longitude                  object
Airport.Code               object
Airport.Name               object
Injury.Severity            object
Aircraft.damage            object
Aircraft.Category          object
Registration.Number        object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Schedule                   object
Purpose.of.flight          object
Air.carrier                object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.phase.of.flight      object
Report.Status              object
Publication.Date           object
dtype: object

In [259]:
# Check for missing values
df.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

## 2. Summary Statistics

In [260]:
# General statistics for numerical columns
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [261]:
# Summary for categorical columns
df.describe(include = 'object')

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Amateur.Built,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
count,88889,88889,88889,88889,88837,88663,34382,34373,50249,52790,...,88787,81812,32023,12582,82697,16648,84397,61724,82508,75118
unique,87951,2,88863,14782,27758,219,25592,27156,10375,24871,...,2,13,31,3,26,13590,4,12,17075,2924
top,20001212X19172,Accident,WPR23LA041,1984-06-30,"ANCHORAGE, AK",United States,332739N,0112457W,NONE,Private,...,No,Reciprocating,091,NSCH,Personal,Pilot,VMC,Landing,Probable Cause,25-09-2020
freq,3,85015,2,25,434,82248,19,24,1488,240,...,80312,69530,18221,4474,49448,258,77303,15428,61754,17019

## 3.  Structure

In [262]:
# Check for duplicate rows
df.duplicated().sum()

0

In [263]:
# Check unique values in a column
evt_id_inf = df['Event.Id'].describe().to_frame()
evt_id_inf

              Event.Id
count            88889
unique           87951
top     20001212X19172
freq                 3

In [264]:
# Check for duplicate rows
df.duplicated(subset='Event.Id').sum()

938

In [265]:
# Inference 
type(evt_id_inf.loc[evt_id_inf.index[0]][0])
evt_count = evt_id_inf.loc[evt_id_inf.index[0]][0]
evt_uniq = df['Event.Id'].nunique()
evt_mis = evt_count - 87951

print(
f'The Column count {evt_count},', # row 0
f'Number of unique values are {evt_uniq}.', # row 1
' ',
f'There are {evt_mis} missing values in "{list(df.columns)[0]}".', # missing 
sep = '\n')

The Column count 88889,
Number of unique values are 87951.

There are 938 missing values in "Event.Id".

## 4. Data Distribution

In [266]:
df['Event.Id'].value_counts(sort = True)

20001212X19172    3
20001214X45071    3
20001211X09798    2
20001214X39029    2
20001213X29141    2
                 ..
20001214X40048    1
20040315X00324    1
20001206X01438    1
20001213X33278    1
20001211X13895    1
Name: Event.Id, Length: 87951, dtype: int64

In [267]:
event_id = df.loc[df['Event.Id'] == '20001212X19172']
event_id.duplicated(subset='Event.Id').to_frame().T

   46714  46715  46718
0  False   True   True

In [268]:
# df.drop_duplicates(inplace=True) # subset = 'Event.Id'
df.drop_duplicates(subset=['Event.Id'], inplace=True)

In [269]:
df.shape

(87951, 31)

## 6. Missing Values

In [270]:
df.isnull()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,True,...,False,True,False,True,True,True,False,False,False,False
3,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,True,True,True,False
88885,False,False,False,False,False,False,True,True,True,True,...,True,True,False,False,False,False,True,True,True,True
88886,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,True,False
88887,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,True,True,True,True
88888,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,True,True,True,False

In [ ]:
# Checking the number of missing values 
# in each column
df.isnull().sum().to_frame()

                            0
Event.Id                    0
Investigation.Type          0
Accident.Number             0
Event.Date                  0
Location                   52
Country                   222
Latitude                53739
Longitude               53748
Airport.Code            38350
Airport.Name            35834
Injury.Severity           990
Aircraft.damage          3103
Aircraft.Category       55770
Registration.Number      1285
Make                       63
Model                      92
Amateur.Built             100
Number.of.Engines        6027
Engine.Type              7024
FAR.Description         56036
Schedule                75591
Purpose.of.flight        6122
Air.carrier             71418
Total.Fatal.Injuries    11267
Total.Serious.Injuries  12322
Total.Minor.Injuries    11760
Total.Uninjured          5863
Weather.Condition        4473
Broad.phase.of.flight   27114
Report.Status            6361
Publication.Date        13599

In [ ]:
# Checking "Air.carrier" column
print(f'''The "Air.carrier" column appears to have {71418 / df.shape[0] * 100:.1f}% missing values. 
      
Inference:
----------
Dropping it!''')

df = df.drop(columns=['Air.carrier'])
# print("", "", sep = '\n')
print('Done!')

The "Air.carrier" column appears to have 81.2% missing values.

Inference:
----------
Dropping it!


Action:
----------
The number of columns now are 30.

In [274]:
# Execution
print("""Action:
----------""")
print(f"The number of columns now are {len(df.columns)}.")

Action:
----------
The number of columns now are 30.

In [275]:
# Checking the number of missing values 
# in each column
df.isnull().sum().to_frame()

                            0
Event.Id                    0
Investigation.Type          0
Accident.Number             0
Event.Date                  0
Location                   52
Country                   222
Latitude                53739
Longitude               53748
Airport.Code            38350
Airport.Name            35834
Injury.Severity           990
Aircraft.damage          3103
Aircraft.Category       55770
Registration.Number      1285
Make                       63
Model                      92
Amateur.Built             100
Number.of.Engines        6027
Engine.Type              7024
FAR.Description         56036
Schedule                75591
Purpose.of.flight        6122
Total.Fatal.Injuries    11267
Total.Serious.Injuries  12322
Total.Minor.Injuries    11760
Total.Uninjured          5863
Weather.Condition        4473
Broad.phase.of.flight   27114
Report.Status            6361
Publication.Date        13599

In [281]:
df['Event.Date'].dtype

dtype('O')

In [284]:
# check number of missing values
df['Event.Date'].isnull().sum()

0

## 5. Correlation and Relationships

In [273]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')