In [1387]:
import os
import re

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [1388]:
# file path
file_path = r'data/AviationData.csv'
# dataframe
df = pd.read_csv(file_path, encoding='ISO-8859-1');

c:\Users\rurig\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## 1. Shape

In [1389]:
df.shape # (88889, 31)

(88889, 31)

## 2. Dataframe Basic Information

In [1390]:
# Check the first few rows
df.head(2)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996

In [1391]:
# Check the last few rows
df.tail(2)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [1392]:
# Get data types of each column
df.dtypes

Event.Id                   object
Investigation.Type         object
Accident.Number            object
Event.Date                 object
Location                   object
Country                    object
Latitude                   object
Longitude                  object
Airport.Code               object
Airport.Name               object
Injury.Severity            object
Aircraft.damage            object
Aircraft.Category          object
Registration.Number        object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Schedule                   object
Purpose.of.flight          object
Air.carrier                object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.phase.of.flight      object
Report.Status              object
Publication.Date           object
dtype: object

In [1393]:
# Get the number of columns
len(df.columns)

31

In [1394]:
# Check for missing values
df.isnull().sum().to_frame()

                            0
Event.Id                    0
Investigation.Type          0
Accident.Number             0
Event.Date                  0
Location                   52
Country                   226
Latitude                54507
Longitude               54516
Airport.Code            38640
Airport.Name            36099
Injury.Severity          1000
Aircraft.damage          3194
Aircraft.Category       56602
Registration.Number      1317
Make                       63
Model                      92
Amateur.Built             102
Number.of.Engines        6084
Engine.Type              7077
FAR.Description         56866
Schedule                76307
Purpose.of.flight        6192
Air.carrier             72241
Total.Fatal.Injuries    11401
Total.Serious.Injuries  12510
Total.Minor.Injuries    11933
Total.Uninjured          5912
Weather.Condition        4492
Broad.phase.of.flight   27165
Report.Status            6381
Publication.Date        13771

## 3. Summary Statistics

In [1395]:
# General statistics for numerical columns
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

## 4.  Structure

In [1396]:
# Check for duplicate rows
df.duplicated().sum() # 0

0

In [1397]:
df.columns.tolist()

['Event.Id',
 'Investigation.Type',
 'Accident.Number',
 'Event.Date',
 'Location',
 'Country',
 'Latitude',
 'Longitude',
 'Airport.Code',
 'Airport.Name',
 'Injury.Severity',
 'Aircraft.damage',
 'Aircraft.Category',
 'Registration.Number',
 'Make',
 'Model',
 'Amateur.Built',
 'Number.of.Engines',
 'Engine.Type',
 'FAR.Description',
 'Schedule',
 'Purpose.of.flight',
 'Air.carrier',
 'Total.Fatal.Injuries',
 'Total.Serious.Injuries',
 'Total.Minor.Injuries',
 'Total.Uninjured',
 'Weather.Condition',
 'Broad.phase.of.flight',
 'Report.Status',
 'Publication.Date']

## 5. Missing Values and column analysis

In [1398]:
col_list = list(df.columns)

for i in range(len(list(df.columns))):
    print(f"# column {i + 1} # {col_list[i]}")

# column 1 # Event.Id
# column 2 # Investigation.Type
# column 3 # Accident.Number
# column 4 # Event.Date
# column 5 # Location
# column 6 # Country
# column 7 # Latitude
# column 8 # Longitude
# column 9 # Airport.Code
# column 10 # Airport.Name
# column 11 # Injury.Severity
# column 12 # Aircraft.damage
# column 13 # Aircraft.Category
# column 14 # Registration.Number
# column 15 # Make
# column 16 # Model
# column 17 # Amateur.Built
# column 18 # Number.of.Engines
# column 19 # Engine.Type
# column 20 # FAR.Description
# column 21 # Schedule
# column 22 # Purpose.of.flight
# column 23 # Air.carrier
# column 24 # Total.Fatal.Injuries
# column 25 # Total.Serious.Injuries
# column 26 # Total.Minor.Injuries
# column 27 # Total.Uninjured
# column 28 # Weather.Condition
# column 29 # Broad.phase.of.flight
# column 30 # Report.Status
# column 31 # Publication.Date

In [1399]:
# Checking the number of missing values 
# in each column
df.isnull().sum().to_frame()
df.isnull().sum().to_frame(name='null_count').sort_values(by='null_count', ascending=False)

                        null_count
Schedule                     76307
Air.carrier                  72241
FAR.Description              56866
Aircraft.Category            56602
Longitude                    54516
Latitude                     54507
Airport.Code                 38640
Airport.Name                 36099
Broad.phase.of.flight        27165
Publication.Date             13771
Total.Serious.Injuries       12510
Total.Minor.Injuries         11933
Total.Fatal.Injuries         11401
Engine.Type                   7077
Report.Status                 6381
Purpose.of.flight             6192
Number.of.Engines             6084
Total.Uninjured               5912
Weather.Condition             4492
Aircraft.damage               3194
Registration.Number           1317
Injury.Severity               1000
Country                        226
Amateur.Built                  102
Model                           92
Make                            63
Location                        52
Investigation.Type               0
Event.Date                       0
Accident.Number                  0
Event.Id                         0

In [1400]:
# column 1 # Event.Id  #  type: object
df['Event.Id'].describe().to_frame()
df.duplicated(subset='Event.Id').sum() # 938
evt_id_inf = df['Event.Id'].describe().to_frame()

type(evt_id_inf.loc[evt_id_inf.index[0]][0])
evt_count = evt_id_inf.loc[evt_id_inf.index[0]][0]
evt_uniq = df['Event.Id'].nunique()
evt_mis = evt_count - 87951

print(
f'The Column count {evt_count},', # row 0
f'Number of unique values are {evt_uniq}.', # row 1
' ',
f'There are {evt_mis} missing values in "{list(df.columns)[0]}".', # missing 
sep = '\n')

# df.drop_duplicates(inplace=True) # subset = 'Event.Id'
df.drop_duplicates(subset=['Event.Id'], inplace=True)

# Drop the column
df = df.drop(columns=['Event.Id'])

The Column count 88889,
Number of unique values are 87951.

There are 938 missing values in "Event.Id".

In [1401]:
# column 2 # 'Investigation.Type'  #  type: object
print(f"The values in the 'Investigation.Type' column are {df['Investigation.Type'].unique().tolist()}",
      end = '\n\n')
df['Investigation.Type'].value_counts().to_frame()

for i in range(2):
    print(f"Investigation.Type '{df['Investigation.Type'].unique().tolist()[i]}' has {df['Investigation.Type'].value_counts()[i] / df.shape[0] * 100:.2f}%")

# dropping 'Incident'
df = df.loc[(df['Investigation.Type'] == 'Accident')]
# Now, dropping the column
df = df.drop(columns=['Investigation.Type'])

The values in the 'Investigation.Type' column are ['Accident', 'Incident']

Investigation.Type 'Accident' has 95.72%
Investigation.Type 'Incident' has 4.28%

In [1402]:
# column 3 # Accident.Number
df['Accident.Number'].isnull().sum()
df['Accident.Number'].nunique() # 63011
# >>> dropping
df = df.drop(columns=['Accident.Number'])

In [1403]:
# column 4 # Event.Date
print(df['Event.Date'].dtype) # object
# check number of missing values
df['Event.Date'].isnull().sum()  # 0
# convert to datetime
df['Event.Date'] = pd.to_datetime(df['Event.Date'])

object

In [1404]:
# column 5 # Location
df.Location.isnull().sum() # 52
df.Location # number of rows # 87951
# >>> dropping
df.dropna(subset=['Location'], inplace=True)

In [1405]:
# column 6 # Country
df.Country.isnull().sum()
print(f"The shape if the dataframe is '{df.shape[0]}'.", sep = '\n\n')
# drop all null values in col
df = df.dropna(subset=['Country'])
print(f"""The shape of the new dataframe is {df.shape[0]}
Having lost 222""")
# comvert the name to title format
df['Country'] = df['Country'].apply(lambda x: x.title() if isinstance(x, str) else x)
# finding out which country stands out
df['Country'].value_counts().idxmax() # 'United States' with 79101 values
# percentage of USA
print()
print(f"Perc of null values: {df['Country'].value_counts()[0] / df.shape[0] * 100:.1f}%") # 94.2%
# # retaining only 'United States'
# df = df.loc[(df.Country == 'United States')]

The shape if the dataframe is '84150'.
The shape of the new dataframe is 83947
Having lost 222

Perc of null values: 94.2%

In [1406]:
# column 7 # Latitude # and
# column 8 # Longitude
# checking the dtype of Latitude and Longitude column
df.Longitude.dtype # dtype('O')
# inference
print(f"""There are \'{df['Latitude'].isnull().sum()}\' missing values in the latitude column,
whilst the longitude column has '{df['Longitude'].isnull().sum()}' missing values.""")

There are '50706' missing values in the latitude column,
whilst the longitude column has '50715' missing values.

In [1407]:
# Function to convert DMS to Decimal Degrees
def dms_to_dd(dms):
    if not isinstance(dms, str):  # Ensure input is a string
        return None  # Return None if it's NaN or not a string
    
    match = re.match(r"(\d{2,3})(\d{2})(\d{2})([NSWE])", dms)
    
    if not match:
        return None  # Return None if format is incorrect

    degrees, minutes, seconds, direction = match.groups()
    
    # Convert to decimal degrees
    decimal_degrees = int(degrees) + int(minutes) / 60 + int(seconds) / 3600
    
    # Apply negative sign for South and West coordinates
    if direction in ['S', 'W']:
        decimal_degrees *= -1

    return decimal_degrees

In [1408]:
# Apply conversion to both Latitude and Longitude columns
df['Latitude_DD'] = df['Latitude'].apply(dms_to_dd)
df['Longitude_DD'] = df['Longitude'].apply(dms_to_dd)

# Handling Null Values:
# Fill NaNs in converted columns
df.fillna({'Latitude_DD': 0, 'Longitude_DD': 0}, inplace=True)
# drop old cols
df.drop(columns=['Latitude', 'Longitude'], inplace=True)

In [1409]:
lat_long_rename = {'Latitude_DD': 'Latitude', 
                   'Longitude_DD': 'Longitude'
                   }
df.rename(columns=lat_long_rename, inplace=True)

In [1410]:
# column 9 # Airport.Code
df['Airport.Code'].unique()
df['Airport.Code'].nunique()
df['Airport.Code'].value_counts()
df['Airport.Code'].isnull().sum() # 38144 
df['Airport.Code'].isnull().sum() / df.shape[0] * 100 # 43.5% missing
# > > > dropping 
df.drop(columns=['Airport.Code'], inplace = True)

In [1411]:
# column 10 # Airport.Name	
# > > > dropping col
df.drop(columns=['Airport.Name'], inplace = True)

In [1412]:
# column 10 # Injury.Severity
df['Injury.Severity'].isnull().sum() # 50
df['Injury.Severity'].isnull().sum() / df.shape[0] * 100 # 0.06%
# drop the null values
df = df.dropna(subset=['Injury.Severity'])
df['Injury.Severity'].nunique() # 55
# df['Injury.Severity'].unique()
df['Injury.Severity'].value_counts().to_frame()
# drop the `Injury.Severity` column
df = df.drop(columns=['Injury.Severity'], axis=1)

In [1413]:
# column 11 # Aircraft.damage
df['Aircraft.damage'].unique()
df['Aircraft.damage'].value_counts().to_frame()
df['Aircraft.damage'].isnull().sum() / df.shape[0] * 100 # 1.38%
# >> dropping null values in columns
df.dropna(subset=['Aircraft.damage'], inplace=True)
df = df.loc[df['Aircraft.damage'] != 'Unknown']#['Aircraft.damage'].unique()
dict(df['Aircraft.damage'].value_counts())

{'Substantial': 63296, 'Destroyed': 18228, 'Minor': 637}

In [1414]:
# column 12 # Aircraft.Category
df['Aircraft.Category'].isnull().sum() # 50958 values 
# which is this perc
df['Aircraft.Category'].isnull().sum() / df.shape[0] * 100 # 65.3%
# dict
print(len(dict(df['Aircraft.Category'].value_counts())))
dict(df['Aircraft.Category'].value_counts())
# >>> dropping the entire col
# df = df.drop(columns=['Aircraft.Category'])
# fill null values with `unknown`
df['Aircraft.Category'].fillna('Unknown', inplace=True)

14

In [1415]:
# column 13 # Registration.Number
df['Registration.Number'].nunique() # 73624
# >>>
# dropping column
df.drop('Registration.Number', axis=1, inplace=True)

In [1416]:
# column 14 # Make
df.Make.nunique() # 8068
df.Make.value_counts()
# dropping column
# df.drop('Make', axis=1, inplace=True)

Cessna                 21547
Piper                  11683
CESSNA                  4659
Beech                   4113
PIPER                   2730
                       ...
Porat                      1
Armbruster                 1
Kuntz                      1
Piper Pawnee               1
PHANTOM AIRCRAFT CO        1
Name: Make, Length: 8068, dtype: int64

In [1417]:
# column 15 # Model
df.Model.nunique() # 11353
# dropping column
df.drop('Model', axis=1, inplace=True)

In [1418]:
# column 16 # Amateur.Built
df['Amateur.Built'].nunique() # 3
# finding the value counts
dict(df['Amateur.Built'].value_counts()) # {'No': 69666, 'Yes': 8228}
# missing values
df['Amateur.Built'].isnull().sum() # 14
# dropping null values
df.dropna(subset=['Amateur.Built'], inplace=True)

In [1419]:
# column 13 # Number.of.Engines
df['Number.of.Engines'].unique().tolist() # [1.0, nan, 2.0, 0.0, 4.0, 3.0, 8.0, 6.0]
df['Number.of.Engines'].nunique() # 7
# perc of null values
df['Number.of.Engines'].isna().sum() / df.shape[0] * 100 # 5.04%
# drop null values 
df = df.dropna(subset=['Number.of.Engines'])
# value counts
dict(df['Number.of.Engines'].value_counts()) # {1.0: 67017, 2.0: 8151, 0.0: 961, 4.0: 146, 3.0: 120, 8.0: 2, 6.0: 1}
# Also, drop planes with 0 engines 
# >>makes no sense for a plane with no engine
df = df.loc[(df['Number.of.Engines'] != 0.0)]
# Convert the dtype from `float64` to `int32`
df['Number.of.Engines'] = df['Number.of.Engines'].astype(int)
# checking the type
df['Number.of.Engines'].dtype # dtype('int32')
# print the new values types
df['Number.of.Engines'].unique() # array([1, 2, 4, 3, 8, 6])

array([1, 2, 4, 3, 8, 6])

In [1420]:
# column 14 # Engine.Type
df['Engine.Type'].unique().tolist()
# >>>
# ['Reciprocating', 'Turbo Fan', 'Turbo Shaft', 'Turbo Prop', 'Turbo Jet', 'Unknown', nan, 'Electric', 'Hybrid Rocket', 'None', 'LR', 'UNK']
df['Engine.Type'].nunique() # 11
dict(df['Engine.Type'].value_counts())
# dropping column
df.drop('Engine.Type', axis=1, inplace=True)

In [1421]:
# column 15 # FAR.Description
# `
# FAR Desc -- Federal Aviation Regulations (FARs) set by the FAA, essentially 
# outlining the aircraft's design and capabilities according to the regulatory 
# standards for safe flight operations in the United States. 
# `
df['FAR.Description'].nunique() # 27
df['FAR.Description'].value_counts()
df['FAR.Description'].unique()
# no of missing values
df['FAR.Description'].isnull().sum() # 49663
df['FAR.Description'].isnull().sum() / df.shape[0] * 100 # 65.8%
# dropping the column
df.drop('FAR.Description', axis=1, inplace=True)

In [1422]:
# column 16 # Schedule
df.Schedule.nunique() # 3
df.Schedule.unique() # array([nan, 'SCHD', 'NSCH', 'UNK'], dtype=object)
dict(df.Schedule.value_counts()) # {'UNK': 3721, 'NSCH': 3204, 'SCHD': 945}

df.Schedule.isnull().sum() # 68786
df.Schedule.isnull().sum() / df.shape[0] * 100 # 89.38%
# >>>
# dropping the columns
df.drop('Schedule', axis=1, inplace=True)

In [1423]:
# column 17 # Purpose.of.flight
df['Purpose.of.flight'].value_counts()
# dropping column
df.drop('Purpose.of.flight', axis=1, inplace=True)

In [1424]:
# column 18 # Air.carrier
df['Air.carrier'].isnull().sum() # 63242
# perc 
df['Air.carrier'].isnull().sum() / df.shape[0] * 100 # 83.8%
# dropping col
df.drop('Air.carrier', axis=1, inplace=True)

In [1425]:
# column 19 # Total.Fatal.Injuries
df['Total.Fatal.Injuries'].isnull().sum() # 9702
# perc 
df['Total.Fatal.Injuries'].isnull().sum() / df.shape[0] * 100 # 12.8%
# values
df['Total.Fatal.Injuries'].nunique() # 49
# specific
df['Total.Fatal.Injuries'].unique()
# drop null values
df.dropna(subset=['Total.Fatal.Injuries'], inplace=True)
# value count
dict(df['Total.Fatal.Injuries'].value_counts()) # {0.0: 51558, 1.0: 7402, 2.0: 4267, ..., 265.0: 1}
# reflect
df['Total.Fatal.Injuries'].unique()
# dtype
df['Total.Fatal.Injuries'].dtype
# converting from `float64` to `int32`
df['Total.Fatal.Injuries'] = df['Total.Fatal.Injuries'].astype(int)
# confirmation
df['Total.Fatal.Injuries'].dtype

dtype('int32')

In [1426]:
# column 20 # Total.Serious.Injuries
df['Total.Serious.Injuries'].isnull().sum() # 2045
# perc 
df['Total.Serious.Injuries'].isnull().sum() / df.shape[0] * 100 # 3.11%
# drop null values
df.dropna(subset=['Total.Serious.Injuries'], inplace=True)
# values
df['Total.Serious.Injuries'].nunique() # 28
# specific
df['Total.Serious.Injuries'].unique()
# value count
dict(df['Total.Serious.Injuries'].value_counts()) # {0.0: 51558, 1.0: 7402, 2.0: 4267, ..., 265.0: 1}
# reflect
df['Total.Serious.Injuries'].unique()
# # dtype
df['Total.Serious.Injuries'].dtype
# # converting from `float64` to `int32`
df['Total.Serious.Injuries'] = df['Total.Serious.Injuries'].astype(int)
# # confirmation
df['Total.Serious.Injuries'].dtype

dtype('int32')

In [1427]:
# column 21 # Total.Minor.Injuries
df['Total.Minor.Injuries'].isnull().sum() # 276
# # perc 
df['Total.Minor.Injuries'].isnull().sum() / df.shape[0] * 100 # 0.43%
# # drop null values
df.dropna(subset=['Total.Minor.Injuries'], inplace=True)
# values
df['Total.Minor.Injuries'].nunique() # 40
# specific
df['Total.Minor.Injuries'].unique()
# value count
dict(df['Total.Minor.Injuries'].value_counts())
# reflect
df['Total.Minor.Injuries'].unique()
# dtype
df['Total.Minor.Injuries'].dtype
# # # converting from `float64` to `int32`
df['Total.Minor.Injuries'] = df['Total.Minor.Injuries'].astype(int)
# # # confirmation
df['Total.Minor.Injuries'].dtype

dtype('int32')

In [1428]:
# column 22 # Total.Uninjured
df['Total.Uninjured'].isnull().sum() # 43
# perc 
df['Total.Uninjured'].isnull().sum() / df.shape[0] * 100 # 0.06%
# drop null values
df.dropna(subset=['Total.Uninjured'], inplace=True)
# dtype
df['Total.Uninjured'].dtype
# # # converting from `float64` to `int32`
df['Total.Uninjured'] = df['Total.Uninjured'].astype(int)
# # # confirmation
df['Total.Uninjured'].dtype

dtype('int32')

In [1429]:
# column 23 # Weather.Condition
# no of unique values
df['Weather.Condition'].nunique() # 4
# the value count
dict(df['Weather.Condition'].value_counts()) # {'VMC': 58024, 'IMC': 4445, 'UNK': 478, 'Unk': 64}
# null values
df['Weather.Condition'].isnull().sum() # 360
# perc
df['Weather.Condition'].isnull().sum() / df.shape[0] * 100 # 0.56%
# drop null values
df.dropna(subset=['Weather.Condition'], inplace=True)

In [1430]:
# column 24 # Broad.phase.of.flight
df['Broad.phase.of.flight'].isnull().sum() # 18668
# unique values
df['Broad.phase.of.flight'].unique()
# value count
df['Broad.phase.of.flight'].value_counts()

print(f"The composition of `unknown` and `other` is {(399 + 799) / df.shape[0] * 100:.2f}%") # 1.90%
# fill null values with `Unknown`
df['Broad.phase.of.flight'] = df['Broad.phase.of.flight'].fillna('Unknown')
# replace 'Other' with 'Unknown'
df['Broad.phase.of.flight'] = df['Broad.phase.of.flight'].replace('Other', 'Unknown')
# # 
dict(df['Broad.phase.of.flight'].value_counts())
# df.head(4)

The composition of `unknown` and `other` is 1.88%

{'Unknown': 19697,
 'Landing': 10961,
 'Takeoff': 9388,
 'Cruise': 7614,
 'Maneuvering': 6199,
 'Approach': 4583,
 'Climb': 1394,
 'Descent': 1249,
 'Taxi': 1216,
 'Go-around': 1038,
 'Standing': 439}

In [1431]:
# column 25 # Report.Status
df['Report.Status'].nunique() # 15551
df.drop(columns=['Report.Status'], inplace=True)

In [1432]:
# column 26 # Publication.Date
df.drop(columns=['Publication.Date'], inplace=True)

In [1433]:
print(f"Now, there are {len(df.columns)} columns.")
# current columns are:-
df.columns

Now, there are 16 columns.

Index(['Event.Date', 'Location', 'Country', 'Aircraft.damage',
       'Aircraft.Category', 'Make', 'Amateur.Built', 'Number.of.Engines',
       'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition',
       'Broad.phase.of.flight', 'Latitude', 'Longitude'],
      dtype='object')

In [1434]:
alist = ['Investigation.Type', 'Event.Date', 'Location', 'Country',
       'Latitude', 'Longitude', 'Injury.Severity', 'Aircraft.damage',
       'Amateur.Built', 'Number.of.Engines', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight']
alist

['Investigation.Type',
 'Event.Date',
 'Location',
 'Country',
 'Latitude',
 'Longitude',
 'Injury.Severity',
 'Aircraft.damage',
 'Amateur.Built',
 'Number.of.Engines',
 'Total.Fatal.Injuries',
 'Total.Serious.Injuries',
 'Total.Minor.Injuries',
 'Total.Uninjured',
 'Weather.Condition',
 'Broad.phase.of.flight']

In [1435]:
# check unique items
df.Location.nunique()
# filtering the abbrev
df['Location'] = df['Location'].map(lambda x: x[-2:].upper() if isinstance(x, str) else x)

# USA State abbreviations and full names
us_states = {
    "Alabama": "AL", "Alaska": "AK", "Arizona": "AZ", "Arkansas": "AR",
    "California": "CA", "Colorado": "CO", "Connecticut": "CT", "Delaware": "DE",
    "Florida": "FL", "Georgia": "GA", "Hawaii": "HI", "Idaho": "ID",
    "Illinois": "IL", "Indiana": "IN", "Iowa": "IA", "Kansas": "KS",
    "Kentucky": "KY", "Louisiana": "LA", "Maine": "ME", "Maryland": "MD",
    "Massachusetts": "MA", "Michigan": "MI", "Minnesota": "MN", "Mississippi": "MS",
    "Missouri": "MO", "Montana": "MT", "Nebraska": "NE", "Nevada": "NV",
    "New Hampshire": "NH", "New Jersey": "NJ", "New Mexico": "NM", "New York": "NY",
    "North Carolina": "NC", "North Dakota": "ND", "Ohio": "OH", "Oklahoma": "OK",
    "Oregon": "OR", "Pennsylvania": "PA", "Rhode Island": "RI", "South Carolina": "SC",
    "South Dakota": "SD", "Tennessee": "TN", "Texas": "TX", "Utah": "UT",
    "Vermont": "VT", "Virginia": "VA", "Washington": "WA", "West Virginia": "WV",
    "Wisconsin": "WI", "Wyoming": "WY"
}

# Inverting the dictionary to map abbreviations back to full state names
Abbrev_to_State = {state: abbrev for abbrev, state in us_states.items()}

# Replace abbreviations with full state names
df['Location'] = df['Location'].map(Abbrev_to_State).fillna(df['Location'])

# converting permanently
df.Location.unique()

array(['Idaho', 'California', 'Minnesota', 'Washington', 'New Jersey',
       'Florida', 'New Mexico', 'Alabama', 'Louisiana', 'Texas',
       'Oklahoma', 'Arkansas', 'Utah', 'Alaska', 'Pennsylvania',
       'Michigan', 'Georgia', 'Virginia', 'North Carolina', 'New York',
       'Montana', 'Oregon', 'Nevada', 'Indiana', 'Arizona', 'Missouri',
       'Wyoming', 'Illinois', 'South Carolina', 'Maryland', 'Ohio',
       'Hawaii', 'Colorado', 'Mississippi', 'DC', 'Vermont', 'Kansas',
       'New Hampshire', 'Iowa', 'Wisconsin', 'Massachusetts',
       'Connecticut', 'Kentucky', 'Tennessee', 'Maine', 'AN',
       'South Dakota', 'Nebraska', 'Rhode Island', 'North Dakota', 'LK',
       'West Virginia', '89', 'BO', 'Delaware', 'AS', 'FT', 'PR', 'OF',
       'EN', '95', 'OA', '98', 'DA', 'NG', 'ES', 'NA', 'EA', 'GU', 'OM',
       'DS', '74', 'O6', 'ZE', 'IC', '1A', 'CE', 'US', 'BA', 'GO', '67',
       '34', 'UA', 'TI', 'RU', 'LY', 'GM', '20', 'LI', 'EY', '16', 'I,',
       'NI', '9,', 'PO', 'AO', 'MY', '8,', 'O,', 'AQ', 'YA', 'N,', 'D,',
       'A,', 'AU', 'LE', 'ON', 'AY', 'JI', 'F)', ',', 'PE', 'S,', 'E,',
       'C,', 'UN', 'AD', 'H,', 'M,', 'G,', '7,', 'X,', 'OS', 'UM', 'CB',
       ', '], dtype=object)

In [1436]:
areas_of_interest = ['AS', 'FT', 'PR', 'OF',
       'EN', '95', 'OA', '98', 'DA', 'NG', 'ES', 'NA', 'EA', 'GU', 'OM',
       'DS', '74', 'O6', 'ZE', 'IC', '1A', 'CE', 'US', 'BA', 'GO', '67',
       '34', 'UA', 'TI', 'RU', 'LY', 'GM', '20', 'LI', 'EY', '16', 'I,',
       'NI', '9,', 'PO', 'AO', 'MY', '8,', 'O,', 'AQ', 'YA', 'N,', 'D,',
       'A,', 'AU', 'LE', 'ON', 'AY', 'JI', 'F)', ',', 'PE', 'S,', 'E,',
       'C,', 'UN', 'AD', 'H,', 'M,', 'G,', '7,', 'X,', 'OS', 'UM', 'CB',
       ', ']

df.loc[(df.Location.isin(areas_of_interest))]['Country'].unique()
df.loc[df.Country == 'Un']

,Event.Date,Location,Country,Aircraft.damage,Aircraft.Category,Make,Amateur.Built,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Latitude,Longitude
71108,2011-11-24,EA,Un,Substantial,Airplane,PIPER AIRCRAFT INC,No,1,0,0,2,0,VMC,Unknown,14.345000,-62.588611
71561,2012-04-03,UN,Un,Substantial,Airplane,HAWKER BEECHCRAFT,No,2,0,0,0,2,VMC,Unknown,1.411111,-7.586111
75723,2014-09-05,UN,Un,Destroyed,Airplane,SOCATA,No,1,2,0,0,0,VMC,Unknown,2.390278,-76.440556
76488,2015-04-10,UN,Un,Substantial,Airplane,GULFSTREAM AEROSPACE,No,2,0,0,0,2,VMC,Unknown,2.380556,-7.750000
78092,2016-04-15,AO,Un,Substantial,Airplane,CESSNA,No,1,0,0,0,3,VMC,Unknown,4.241389,-72.860833
82820,2019-02-08,AO,Un,Destroyed,Airplane,Convair,No,2,1,0,1,0,VMC,Unknown,4.240833,-72.861389

In [1437]:
col_list = list(df.columns)
for i in range(len(list(df.columns))):
    print(f"# column {i + 1} # {col_list[i]}")

# column 1 # Event.Date
# column 2 # Location
# column 3 # Country
# column 4 # Aircraft.damage
# column 5 # Aircraft.Category
# column 6 # Make
# column 7 # Amateur.Built
# column 8 # Number.of.Engines
# column 9 # Total.Fatal.Injuries
# column 10 # Total.Serious.Injuries
# column 11 # Total.Minor.Injuries
# column 12 # Total.Uninjured
# column 13 # Weather.Condition
# column 14 # Broad.phase.of.flight
# column 15 # Latitude
# column 16 # Longitude

In [1438]:
df.head(3)

,Event.Date,Location,Country,Aircraft.damage,Aircraft.Category,Make,Amateur.Built,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Latitude,Longitude
0,1948-10-24,Idaho,United States,Destroyed,Unknown,Stinson,No,1,2,0,0,0,UNK,Cruise,0.0,0.0
1,1962-07-19,California,United States,Destroyed,Unknown,Piper,No,1,4,0,0,0,UNK,Unknown,0.0,0.0
3,1977-06-19,California,United States,Destroyed,Unknown,Rockwell,No,1,2,0,0,0,IMC,Cruise,0.0,0.0

In [1439]:
df.Country.unique()
df.Country.value_counts()[:10]

United States     63011
Bahamas              82
Atlantic Ocean       54
Puerto Rico          52
Brazil               50
Mexico               36
Pacific Ocean        34
Canada               28
Colombia             28
Gulf Of Mexico       26
Name: Country, dtype: int64

# Descriptive Analysis

In [1440]:
print(f'The Number of columns are: {len(df.columns)}')
print(f'The columns are:- ')
list(df.columns)

The Number of columns are: 16
The columns are:-

['Event.Date',
 'Location',
 'Country',
 'Aircraft.damage',
 'Aircraft.Category',
 'Make',
 'Amateur.Built',
 'Number.of.Engines',
 'Total.Fatal.Injuries',
 'Total.Serious.Injuries',
 'Total.Minor.Injuries',
 'Total.Uninjured',
 'Weather.Condition',
 'Broad.phase.of.flight',
 'Latitude',
 'Longitude']

In [1441]:
df.shape

(63778, 16)

In [1442]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63778 entries, 0 to 88886
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Date              63778 non-null  datetime64[ns]
 1   Location                63778 non-null  object
 2   Country                 63778 non-null  object
 3   Aircraft.damage         63778 non-null  object
 4   Aircraft.Category       63778 non-null  object
 5   Make                    63768 non-null  object
 6   Amateur.Built           63778 non-null  object
 7   Number.of.Engines       63778 non-null  int32
 8   Total.Fatal.Injuries    63778 non-null  int32
 9   Total.Serious.Injuries  63778 non-null  int32
 10  Total.Minor.Injuries    63778 non-null  int32
 11  Total.Uninjured         63778 non-null  int32
 12  Weather.Condition       63778 non-null  object
 13  Broad.phase.of.flight   63778 non-null  object
 14  Latitude                63778 non-null  float64
 15  Longitude               63778 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(5), object(8)
memory usage: 7.1+ MB

In [1443]:
df.columns

Index(['Event.Date', 'Location', 'Country', 'Aircraft.damage',
       'Aircraft.Category', 'Make', 'Amateur.Built', 'Number.of.Engines',
       'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition',
       'Broad.phase.of.flight', 'Latitude', 'Longitude'],
      dtype='object')

In [1444]:
temp_dict = {'Event.Date': 'date', 
         'Number.of.Engines': 'Engines',
         'Aircraft.damage': 'DamageLevel',
         'Amateur.Built': 'Built',
         'Aircraft.Category': 'TypeOfAircraft',
         'Total.Fatal.Injuries': 'Fatal-Injuries',
         'Total.Serious.Injuries': 'Serious-Injuries',
         'Total.Minor.Injuries': 'Minor-Injuries',
         'Total.Uninjured': 'Uninjured',
         'Weather.Condition': 'Weather-Condition',
         'Broad.phase.of.flight': 'Flight.Phase'} 

print(list(temp_dict.keys()) in list(df.columns))
print(len(df.columns))

False
16

In [1445]:
# 1/0
# rename the columns 
columns={'Event.Date': 'Date', 
         'Number.of.Engines': 'Engines',
         'Aircraft.damage': 'DamageLevel',
         'Amateur.Built': 'Built',
         'Aircraft.Category': 'TypeOfAircraft',
         'Total.Fatal.Injuries': 'Fatal-Injuries',
         'Total.Serious.Injuries': 'Serious-Injuries',
         'Total.Minor.Injuries': 'Minor-Injuries',
         'Total.Uninjured': 'Uninjured',
         'Weather.Condition': 'Weather-Condition',
         'Broad.phase.of.flight': 'Flight.Phase'
         }

df = df.rename(columns=columns)
list(df.columns)

['date',
 'Location',
 'Country',
 'DamageLevel',
 'TypeOfAircraft',
 'Make',
 'Built',
 'Engines',
 'Fatal-Injuries',
 'Serious-Injuries',
 'Minor-Injuries',
 'Uninjured',
 'Weather-Condition',
 'Flight.Phase',
 'Latitude',
 'Longitude']

       Fatal-Injuries  Serious-Injuries  Minor-Injuries     Uninjured
count    63778.000000      63778.000000    63778.000000  63778.000000
mean         0.400702          0.222491        0.281570      1.754821
std          2.769080          1.104841        1.257105     11.167733
min          0.000000          0.000000        0.000000      0.000000
25%          0.000000          0.000000        0.000000      0.000000
50%          0.000000          0.000000        0.000000      1.000000
75%          0.000000          0.000000        0.000000      2.000000
max        270.000000        137.000000      125.000000    576.000000

In [1461]:
['Fatal-Injuries', 'Serious-Injuries', 'Minor-Injuries', 'Uninjured'] in list(df.columns)
for i in ['Fatal-Injuries', 'Serious-Injuries', 'Minor-Injuries', 'Uninjured']:
    print(i in list(df.columns))
# 1/0
# df[['Fatal-Injuries', 'Serious-Injuries', 'Minor-Injuries', 'Uninjured']]
print(df.shape)
# check num dtype
# df[['Fatal-Injuries', 'Serious-Injuries', 'Minor-Injuries', 'Uninjured']].describe()
# adding
df['Passengers'] = df[['Fatal-Injuries', 'Serious-Injuries', 'Minor-Injuries', 'Uninjured']].sum(axis=1)#.unique()
df.columns

['date', 'Location', 'Country', 'DamageLevel', 'TypeOfAircraft', 'Make',
       'Built', 'Engines', 'Passengers', 'Fatal-Injuries', 'Serious-Injuries',
       'Minor-Injuries', 'Uninjured', 'Weather-Condition', 'Flight.Phase',
       'Latitude', 'Longitude']

True
True
True
True
(63778, 16)

Index(['date', 'Location', 'Country', 'DamageLevel', 'TypeOfAircraft', 'Make',
       'Built', 'Engines', 'Fatal-Injuries', 'Serious-Injuries',
       'Minor-Injuries', 'Uninjured', 'Weather-Condition', 'Flight.Phase',
       'Latitude', 'Longitude', 'Passengers'],
      dtype='object')

In [1462]:
# number in flight
# df.passengers = 
df.passengers = df[['Fatal-Injuries', 'Serious-Injuries', 'Minor-Injuries', 'Uninjured']].sum(axis=1)

# rearrange columns
list(df.columns)

<ipython-input-1462-32ea667e5641>:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.passengers = df[['Fatal-Injuries', 'Serious-Injuries', 'Minor-Injuries', 'Uninjured']].sum(axis=1)

['date',
 'Location',
 'Country',
 'DamageLevel',
 'TypeOfAircraft',
 'Make',
 'Built',
 'Engines',
 'Fatal-Injuries',
 'Serious-Injuries',
 'Minor-Injuries',
 'Uninjured',
 'Weather-Condition',
 'Flight.Phase',
 'Latitude',
 'Longitude',
 'Passengers']

In [1311]:
# exporting csv
filename = 'final-output.csv'

try:
    # Check if file exists and overwrite or create it
    if os.path.exists(filename):
        print(f"File '{filename}' previously existed but overwritten.", end='\n')
    else:
        df.to_csv(filename, index=False)
        print(f"The csv-file '{filename}' was not found, so it has been created.", end='\n')

except PermissionError as e:
    print(f"PermissionError: Unable to write to '{filename}'. Please check file permissions.")
    print(f"Error details: {e}", end='\n')

#   The End!
print('The End!')

File 'final-output.csv' previously existed but overwritten.
The End!